<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Stuff">

  <title>NODE SERVER</title>

</head>
<body>



<h1>I hope this works!</h1>
<p> Sending the postage type: "<%= postageType %>" <br> Which weighs at most <%= weight %> Lbs <br> Will cost: $ <%= result %>  </p>

</body>
</html>