 

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>Jarvis University</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Jarvis is short for Just A Rather Very Intelligent System.">
<link rel="stylesheet" type="text/css" href="/public/stylesheets/w3.css">
<script src="https://use.typekit.net/tqi0rfb.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link href="/public/stylesheets/style.css" type="text/css" rel="stylesheet">
<link href="/public/stylesheets/mp3play.css" type="text/css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.1.5/wavesurfer.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script async src="/public/mp3play.js" type="text/javascript"></script>

</head><body><body style="background-color:#F0F0F0;">

    <div class="top">
        <div class="bar">
            <img class="logo bar-item hidden " src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/07712d52323517.5608d99892165.png" alt="Jarvis Logo">
            <div class="right">
                <a href="./AboutMe.html" class="bar-item button">Home</a>
                <a href="./more.html" class="bar-item button">More about me</a>
                <a href="./Assignments.html" class="bar-item button">Assignments</a>
                <a href="./Random.html" class="bar-item button">Random</a>
            </div>
        </div>
    </div>
<p><br><br><br><br><br></p>
    <!-- Header -->
    
        <div class="phone">
            <div class="player">
              <div class="wavesurfer">
                <div class="recordplayer">
                  <div class="recordplayer__disc">
                    <div class="recordplayer__disc-stripe1"></div>
                    <div class="recordplayer__disc-stripe2"></div>
                  </div>
                </div>
                <div class="artist__image">
                  <div class="artist__image-url" id="artist__image-url"></div>
                </div>
          
                <div class="time">
                  <span class="time__minutes"></span>
                  <span>:</span>
                  <span class="time__seconds"></span>
                </div>
                <div class="progress">
                  <div class="progress__button"></div>
                  <div class="progress__indicator"></div>
                </div>
              </div>
              
              <div id="wavesurfer" class="wavesurfer__elem"></div>
              
              <div class="artist__name">
                <p id="title">-</p>
                <h1 id="artist">-</h1>
                <div class="love">&#9825;</div>
                <div class="share"></div>
              </div>
              
              <div class="controls">
                <button id="prev" class="button__prev"></button>
                <button id="play" class="button__play load">
                  <span class="button__play-iconplay"></span>
                  <span class="button__play-iconpause"></span>
                  <span class="button__loader"></span>
                </button>
                <button id="next" class="button__next"></button>
              </div>
            </div>
          </div>
          
          <div class="hint">Press play</div>
    </div>


</body></html>