 
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NODE SERVER</title>
  <meta name="description" content="MATH">

</head>

<body>

<h1>Let's get this GOING!</h1>

<br/>
  <form action="postageDisplay" method="get">
    <select name="postageType">
      <option value="lettersS">Letters Stamped</option>
      <option value="lettersM">Letters Metered</option>
      <option value="envelopes">Large Envelope</option>
      <option value="parcels">Parcel</option>
    </select><br/>
    <input type="text" name="weight" value="" placeholder="oz."><br/>

    <br/>
    
    <input type="submit" value="Calculate">

    <br/><br/>

  </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $.getJSON("getAlbum?id=1", function(result){
      $.each(result, function(i, field){
        $("div").append(field + " ");
      });
    });
  });
});
</script>
</head>
<body>

<button>Get Album 1 data</button>

<div></div>


</body>
</html>
