/*** FONTS ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);



/*** VARIABLES ***/
/* Colors */
$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;



/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0,0,0,0.05), 0 0.5rem 1.125rem rgba(75,0,0,0.05);
}



/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'Raleway', sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}


ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    @extend %boxshadow;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    &::before,
    &::after {
      background: linear-gradient(135deg, $blue 0%,$green 100%);
      border-radius: 1rem 1rem 0 1rem;
      content: '';
      height: 3rem;
      left: -1rem;
      overflow: hidden;
      position: absolute;
      top: -1rem;
      width: 3rem;
    }
    &::before {
      align-items: flex-end;
      @extend %boxshadow;
      content: counter(gradient-counter);
      color: $black;
      display: flex;
      font: 900 1.5em/1 'Montserrat';
      justify-content: flex-end;
      padding: 0.125em 0.25em;
      z-index: 1;
    }
    @for $i from 1 through 5 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, $i * 0.2) 0%,rgba($yellow, $i * 0.2) 100%);
      }
    }
    @for $i from 6 through 10 {
      &:nth-child(10n+#{$i}):before {
        background: linear-gradient(135deg, rgba($green, 1 - (($i - 5) * 0.2)) 0%,rgba($yellow, 1 - (($i - 5) * 0.2)) 100%);
      }
    }
    + li {
      margin-top: 2rem;
    }
  }
}
.top {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
    }

    .bar {
        width: 100%;
        overflow: hidden;
        color: #000;
        background-color: #fff;
        letter-spacing: 1px;
        padding: 8px 16px;
        font-size: 20px;

    }

    .bar-item {
        float: left;

    }

    .logo {
        float: left;
         width: 150px;
         height: -40;
         overflow: hidden;
         margin: -40px -40px -60px -0px;
    }

    .button {
        padding: 8px 16px;
        text-decoration: none;
    }

    .button1{
        padding: 12px 16px;
        text-decoration: none;
    }

    .button:hover {
        color: #000;
        background-color: #ccc;
    }

    .right {
        float: right;
    }

    @media screen and (max-width: 650px) {
        .bar {
            font-size: 2.3vw;
        }

        .bar {
            padding: 1px 2px;
        }

    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .display-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .text{
        font-size: 40px;
        color:#fff;
    }
    @media screen and (min-width: 1000px){
        .text{
            font-size: 60px;
        }
        
    }
    .span{
        padding:8px 16px;
        color:#fff;
        background-color:#000;
        opacity: 0.5;
    }
    .span1{
        padding:8px 16px;
        color:#fff;
        background-color:#000;
        opacity: 0.8;
    }
    p, h1, h2, h3, h4{
    margin: 12px 16px;
    }
    h1, h2, h3, h4{
        color: rgb(112, 112, 68);
    }
    .item1 {
        grid-area: header;
        width: 95%;
    }

    .item2 {
        grid-area: menu;
    }

    .item3 {
        grid-area: main;
    }

    .item4 {
        grid-area: footer;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'menu menu main main main main'
            'menu menu main main main main'
            'footer footer footer footer footer footer';

    }

    a{
        text-decoration: none;
    }

    .mySlides {
        display: none;
    }

    .Sciences-header {
        margin-top: 5%;
        opacity: 1;
        font-size: 36px;
        text-align: center;
    }
    .content{
        margin-left:auto;
        margin-right:auto;
        position:relative;
        max-width: 70%;
        max-height: 70%;
    }
    .display-left{
        position:absolute;
        top:50%;
        left:0%;
        transform:translate(0%,-50%);
        -ms-transform:translate(-0%,-50%);
    }
    .display-right{
        position:absolute;
        top:50%;
        right:0%;
        transform:translate(0%,-50%);
        -ms-transform:translate(-0%,-50%);
    }

